body{
    background-color: whitesmoke;
    

}
.toplink{
    background-color: rgb(251, 164, 50);
    overflow: hidden;
}
.toplink a{
    color: azure;
    text-decoration: none;
    padding: 14px;
    display: block;
    float: left;
    text-align: left;
}
.toplink a:hover{
    color: rgb(23, 22, 22, 0.854);
    background-color: rgb(22, 179, 179);
    text-decoration: none;
}
.toplink-right{
    float: right;
    overflow: hidden;
}
.banner{
    background-color: rgb(83, 81, 78);
    padding: 10px;
    text-align: center;
    color: rgb(233, 233, 233);
}
.row:after{
    content: "";
    display: block;
    clear: both;
}
.content{
    float: left;
    width: 70%;
    padding: 15px;
}
.side_bar{
    float: left;
    width: 30%;
    padding: 15px;
}
.footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(251, 164, 50);
    color: white;
}

h1{
    text-align: center;
    color: rgb(253, 8, 139);
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
}
table{
    border: 1px solid #373737;
    border-collapse: collapse ;
    width: 80%;
}
td{
    border: 1px solid #373737; 
    padding: 5px;
    text-align: left;
}
th{
    background-color: rgba(0, 0, 0, 0.9);
    color: azure;
    border: 1px;
    text-align: left;
}
tr:nth-child(odd){
    background-color: rgb(209, 205, 255);
}
tr:hover{
    background-color:  white;
}
.order_form label{
    font-size: 1.8em;
}
input[type=text], [type =email] , [type=textarea]{
    width: 60%;
    padding: 12px 16px;
    font-size: 1.6em;
    border-radius: 4px;
    border: 2px solid #373737;
    box-sizing: border-box;
    margin: 8px 0;
}
input[type=submit]{

 width: 40%;
    padding: 12px 16px;
    font-size: 1.6em;
    border-radius: 4px;
    background-color: blue;
    color: azure;
    box-sizing: border-box;
    margin:8px 0 ;
}
