body{
    background-color: rgba(240, 237, 237);
    background-image: url("images/pic.jpg");

}
.body_index_bg{
    background-color: brown;
}
h1{
    text-align: left;
    color: rgb(8, 253, 171);
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
}
table{
    border: 1px solid #373737;
    border-collapse: collapse ;
    width: 70%;
}
td{
    border: 1px solid #373737; 
    padding: 5px;
    text-align: left;
}
th{
    background-color: rgba(0, 0, 0, 0.9);
    color: azure;
    border: 1px;
    text-align: left;
}
tr:nth-child(odd){
    background-color: rgb(209, 205, 255);
}
tr:hover{
    background-color: rgb(205, 255, 232);
}
.contacts_form label{
    font-size: 1.8em;
}
input[type=text], [type =email] , [type=textarea]{
    width: 60%;
    padding: 12px 16px;
    font-size: 1.6em;
    border-radius: 4px;
    border: 2px solid #373737;
    box-sizing: border-box;
    margin: 8px 0;
}
input[type=submit]{

 width: 40%;
    padding: 12px 16px;
    font-size: 1.6em;
    border-radius: 4px;
    background-color: blue;
    color: azure;
    box-sizing: border-box;
    margin:8px 0 ;
}